/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.home-heading {
  font-family: "Michroma", serif;
}

.navbar {
  font-family: "Oxanium", serif !important;
}

/* NAVBAR */
.bg-blur {
  backdrop-filter: blur(10px);
  background-color: #0000005d;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  display: flex;
  align-items: center;
  width: 150px;
}

.navbar-nav {
  font-size: 1.1rem;
}

.nav-link {
  margin: 0 15px;
  transition: 0.5s ease;
}

.nav-link:hover {
  font-weight: 700;
  transition: 0.3s ease;
}

.actived {
  font-weight: 700 !important;
}

/* BUTTON */
.btn-btn {
  background-color: #449ac580;
  color: white;
  padding: 8px 17px;
  border-radius: 15px;
  text-decoration: none;
  font-family: "Oxanium", serif;
  transition: all ease 0.3s;
}

.btn-btn:hover {
    background-color: #86cdf080;
    color: #0a1b24;
    transition: all ease 0.5s;
}

.navbar {
  border-bottom: 1px solid #fff;
}

.home-btn {
    font-size: 20px;
}


/* SECTION HERO */
.section-hero {
    background-image: url("media/wellcome.jpeg");
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-attachment: fixed; */
    image-rendering: crisp-edges;
}

.hero-items {
    display: inline-block;
    /* margin-top: 100px; */
    color: #fff;
}

.home-heading {
    font-size: 60px;
    margin-bottom: 50px;
}

.home-btn {
    background-color: #104890;
}

/* ABOUT US */
.section-about p{
  color: white;
  font-weight: 300;
  font-family: "Oxanium", serif;
}

.section-about h4 {
  font-family: "Michroma", serif;
}

.section-about {
  background-color: rgb(10, 10, 26) !important;
}


/* FOOTER */
footer {
  background-color: black !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: white 1px solid;
}

footer img {
  width: 150px;
}

.footer-nav a{
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

/* FEATURED NEWS */

.section-featured-news h4 {
  font-family: "Michroma", serif;
}

.img-col-2 {
  height: 400px;
  position: relative;
  transition: all ease 0.5s;
}

.img-col-2 h6 {
  position: absolute;
  bottom: 0;
  background-color: #0a1b2491;
  color: white;
  padding: 10px;
}

.img-col-2 img {
  min-height: 100%;
  object-fit: cover;
}

.img-col-1 {
  height: 400px;
  position: relative;
  transition: all ease 0.5s;
}

.img-col-1 h6 {
  position: absolute;
  bottom: 0;
  top: 335px;
  background-color: #0a1b2491;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 57px;
}

.img-col-1 img {
  min-height: 100%;
  object-fit: cover;
}

.img-col-3 {
  height: 188px;
  position: relative;
  transition: all ease 0.5s;
}

.img-col-3 h6{
  position: absolute;
  bottom: 0;
  background-color: #0a1b2491;
  color: white;
  padding: 10px;
}

.img-col-3 img {
  min-height: 100%;
  object-fit: cover;
}

.img-col-4 {
  height: 188px;
  position: relative;
  transition: all ease 0.5s;
}

.img-col-4 img {
  min-height: 100%;
  object-fit: cover;
}

.img-col-4 h6 {
  position: absolute;
  bottom: 0;
  top: 137px;
  background-color: #0a1b2491;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 49px;
}

.section-featured-news {
  background-color: rgb(3, 3, 15) !important;
  padding-bottom: 50px;
}

.img-col-1:hover {
  /* border: solid 1px white; */
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 1px rgb(255, 255, 255);
}

.img-col-2:hover {
  /* border: solid 1px white; */
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 1px rgb(255, 255, 255);

}

.img-col-3:hover {
  /* border: solid 1px white; */
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 1px rgb(255, 255, 255);
}

.img-col-4:hover {
  /* border: solid 1px white; */
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 1px rgb(255, 255, 255);
}

.img-circle-news {
  height: 100px;
}

.img-circle-news img {
  height: 100%;
  border-radius: 50%;
}

.news-circle-info {
  color: white;
  height: 95px;
}

.one-min-read {
  font-size: 14px;
}

.circle-description {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* RECENT VIDEOS */
.recent-video-section h3{
  font-family: "Oxanium", serif;
  font-weight: 700;
}

/* SPACESHIPS HOME */
.spaceships-hero-section {
  background-image: url("media/spaceships.jpg");
  height: 100vh;
  background-size: cover;
  /* background-attachment: fixed; */
  image-rendering: crisp-edges;
}

.spaceships-items {
  color: white;
  margin-left: 50px;
}

.spaceships-items h1 {
  font-family: "Michroma", serif;
  font-size: 60px;
}

.spaceships-items p {
  font-family: "Oxanium", serif;
  font-weight: 300;
}

.space-stations-section {
  background-color: rgb(3, 3, 15) !important;
  padding-top: 50px;
}

.space-stations-section h4 {
  font-family: "Michroma", serif;
  color: white;
}

.space-stations-section p {
  color: white;
  margin-top: 13px;
}

.space-station-card {
  color: white;
}

/* SPACE LAUNCH */
.space-launch-section h3{
  font-family: "Oxanium", serif;
  font-size: 50px;
  font-weight: 700;
  padding-right: 50px;
}

.space-launch-section p {
  padding-right: 50px;
  font-weight: 500;
}

/* GATEWAY DEEP */
.gateway-deep-section {
  background-image: url("media/gateway\ section.png");
  height: 70vh;
  background-size: cover;
  image-rendering: crisp-edges;
}

.gateway-deep-section h1 {
  font-family: "Michroma", serif;
  color: white;
}

.gateway-deep-section p {
  font-family: "Oxanium", serif;
  color: white;
}

.gateway-deep-section a {
  color: white;
  text-decoration: none;
}


/* ASTRONAUTS HERO */
.astronauts-hero-section {
  background-image: url("media/astronaut-dark-wallpaper-space-wallpaper_265515-6729.avif");
  height: 100vh;
  background-size: cover;
  image-rendering: crisp-edges;

  display: flex;
  justify-content: center;
  align-items: center;
}

.astronauts-hero-section h1 {
  color: white;
  font-family: "Michroma", serif;
}

/* AT THE SPACE STATION */
.at-space-station-section {
  background-color: rgb(3, 3, 15);
  color: white;
}

.view-astronaut {
  color: white;
  text-decoration: none;
  background-color: #104890;
  padding: 10px 40px;
  border-radius: 20px;
  transition: all ease 0.3s;
}

.view-astronaut:hover {
  background-color: #0d3364;
  color: #d1cccc;
}

.at-space-station-section h6 {
  font-family: "Oxanium", serif;
}

.at-space-station-section h3 {
  font-family: "Michroma", serif;
}


/* SATELITE HERO */
.satelite-hero-section {
  background-image: url("media/jeremy-straub-GpVTuahi2aM-unsplash.jpg");
  height: 110vh;
  background-size: cover;
  image-rendering: crisp-edges;

  display: flex;
  justify-content: center;
  align-items: center;
}

.satelite-items {
  color: white;
  text-align: center;
}

.satelite-items h1 {
  font-family: "Michroma", serif;
}

.earth-observation-satellite-section {
  background-color: rgb(3, 3, 15);
  color: white;
}

.earth-observation-satellite-section h3 {
  font-family: "Michroma", serif;
  margin-bottom: 15px;
}

.earth-observation-satellite-section p {
  font-family: "Oxanium", serif;
}

.earth-observation-satellite-section h6 {
  font-family: "Oxanium", serif;
  margin-top: 10px;
  font-size: 20px;
}

.satelite-card p {
  font-weight: 300 !important;
  font-family: sans-serif;
}

.satelite-card {
  padding: 10px;
  margin-top: 15px;
}

.satelite-card img:hover {
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 1px rgb(255, 255, 255);
}

/* PLANET */
.planet-section {
  background-image: url(media/stars-galaxy-3840x2160-10307.jpg);
  height: 650vh;
  background-repeat: repeat-y;
  background-size: 100%;
  position: relative;
}

.planet-container{
  position: relative;
}

.planet {
  position: absolute;
  transition: all ease 0.3s;
}

.planet:hover {
  /* filter: drop-shadow(3px 0 0 white) drop-shadow(0 3px 0 white)
    drop-shadow(-3px 0 0 white) drop-shadow(0 -3px 0 white); */
  /* opacity: 0.7; */
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 0));
}

.planet-name {
  display: none;
  transition: all ease 0.3s !important;

  color: white;
  font-family: "Michroma", serif;
  font-weight: 500;
  background-color: #53535371;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}

.planet:hover .planet-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition: all ease 0.3s;
}

.sun {
  position: absolute;
  right: 23%;
  top: 10px;
}

.sun img {
  width: 600px;
}

.merkurius {
  top: 650px;
  left: 440px;
}

.merkurius img {
  width: 190px;
}

.venus {
  top: 900px;
  left: 150px;
}

.venus img {
  width: 240px;
}

.bumi {
  top: 1190px;
  left: 750px;
}

.bumi img {
  width: 300px;
}

.mars {
  top: 1500px;
  left: 150px;
}

.mars img {
  width: 300px;
}

.jupiter {
  top: 1830px;
  left: 290px;
}

.jupiter img {
  width: 360px;
}

.saturnus {
  top: 2300px;
  left: 90px;
}

.saturnus img {
  width: 520px;
}

.uranus {
  top: 2640px;
  left: 750px;
}

.neptunus {
  top: 2800px;
  left: 100px;
}

.neptunus img {
  width: 300px;
}

.instruction-planet-container {
  height: 400px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  border-radius: 40px;

  font-family: "Oxanium", serif;
}

