/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.home-heading {
  font-family: "Michroma", serif;
}

.navbar {
  font-family: "Oxanium", serif !important;
}

/* NAVBAR */
.bg-blur {
  backdrop-filter: blur(10px);
  background-color: #0000005d;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  display: flex;
  align-items: center;
  width: 150px;
}

.navbar-nav {
  font-size: 1.1rem;
}

.nav-link {
  margin: 0 15px;
  transition: 0.5s ease;
}

.nav-link:hover {
  font-weight: 700;
  transition: 0.3s ease;
}

.actived {
  font-weight: 700 !important;
}

/* BUTTON */
.btn-btn {
  background-color: #449ac580;
  color: white;
  padding: 8px 17px;
  border-radius: 15px;
  text-decoration: none;
  font-family: "Oxanium", serif;
  transition: all ease 0.3s;
}

.btn-btn:hover {
    background-color: #86cdf080;
    color: #0a1b24;
    transition: all ease 0.5s;
}

.navbar {
  border-bottom: 1px solid #fff;
}

.home-btn {
    font-size: 20px;
}


/* SECTION HERO */
.section-hero {
    background-image: url("media/wellcome.jpeg");
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-attachment: fixed; */
    image-rendering: crisp-edges;
}

.hero-items {
    display: inline-block;
    /* margin-top: 100px; */
    color: #fff;
}

.home-heading {
    font-size: 60px;
    margin-bottom: 50px;
}

.home-btn {
    background-color: #104890;
}

/* ABOUT US */
.section-about p{
  color: white;
  font-weight: 300;
  font-family: "Oxanium", serif;
}

.section-about h4 {
  font-family: "Michroma", serif;
}

.section-about {
  background-color: rgb(10, 10, 26) !important;
}

/* FEATURED NEWS */
.section-featured-news {
  background-color: rgb(3, 3, 15) !important;
}

footer {
  background-color: black !important;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  border-top: white 1px solid;
}

footer img {
  width: 150px;
}

.footer-nav a{
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.section-featured-news h4 {
  font-family: "Michroma", serif;
}

.img-col-2 {
  height: 400px;
}

.img-col-2 img {
  min-height: 100%;
  object-fit: cover;
}

.img-col-1 {
  height: 400px;
}

.img-col-1 img {
  min-height: 100%;
  object-fit: cover;
}

.img-col-3 {
  height: 188px;
}

.img-col-3 img {
  min-height: 100%;
  object-fit: cover;
}